* {
    margin: 0;
    padding: 0; 
}

* {
  box-sizing: border-box;
}

/* Fonts*/
html {
font-family: 'Cinzel', serif;
font-family: 'Montserrat', sans-serif;
}

/* Font and padding for standard headings (in Cinzel)*/
.signatur {
font-family: 'Cinzel', serif;

text-align:center;
padding-top: 20px;
padding-bottom: 15px;
}

/* Font and padding for headings (in Montserrat)*/
.signatur2 {
font-family:'Montserrat', sans-serif;
text-align:center;
padding-top: 20px;
padding-bottom: 15px;
}

/* Font logo*/
.logo {
font-family: 'Cinzel', serif;
} 

/* Padding over and under text columns and images*/
.ramme{
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
}  

/*Padding over and under text and images whole page */
.textbox {
 padding-top: 20px;
 padding-bottom: 15px;
 float:none;
 margin: auto;
 width: 70%;
 font-size: 14px;

}

/* Navbar: */
.topnav {
  background-color: #495A8C;
  overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hovering navbar */
.topnav a:hover {
  background-color: #788ABF;
  }

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #283561;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.topnav.responsive a {
   float: none;
   display: block;
   text-align: left;
}

/* Create 3 columns that floats next to each other */
.column {
  float: left;
  padding: 15px;
}

/* Set width length for the left, right and middle columns */
.left {
  width: 25%;
  padding: 10 px;
}

.middle {
  width: 50%;
  padding: 10 px;
}
    
.right {
  width: 25%;
  padding: 10 px;
}

/* Clear floats after the columns */
.row:after {
 content: "";
 display: table;
 clear: both;
}

 /* Left column */
.leftaside {
  background-color: #283561;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Center column */
.center {
  font-size: 14px;
}

 /* Right column */
.rightaside {
  background-color: #495A8C;
  padding: 15px;
   padding-bottom: 25px; 
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Make images responsive*/
.responsive {
  width: 100%;
  height: auto;
}

.responsive2 {
  width: 100%;
  height: 450px;
}

/* Credit images + adds padding under*/
.bildetekst {
  text-align: end;  
  font-size: 8px;
  padding-bottom: 15px;
}

/* Footer*/
.footer {
  background-color: #495A8C;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/*White text in footer*/
.color2 {
    color: #ffffff; !important;
}

.infographic{
         width: 60%;
        margin: auto;
   }

/*Force the hyperlink in text on page "Våre Hunder" to be black*/
.color1 {
    color: #000000; !important;
}


/*Frame: lists of puppies*/
.div1{
  width: 100%;
  border: 1px solid #495A8C;
  margin: auto;
  padding: 10px; 
  float:none;

}

/*Padding: lists of puppies*/
 .demo {
  list-style-type:none;
  margin: 20px;
  text-align: center
      
}

/* Visit cards our dogs: */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  margin: auto;
    margin-bottom: 30px;
  padding: 40px; 
  float:none;
    padding-bottom: 10px;
}

/*Hover visit cards*/
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/*Container for name and data on visit cards*/
.container{
  padding: 2px 16px;
  width: 100%;
  height: auto;
 font-family: 'Cinzel', serif;
}

/* Responsive layout: */

/* For mobile phones: */
@media screen and (max-width: 600px) {
    
    .topnav a:not(:first-child) {display: none;
      }
    
    .topnav a.icon {
      float: right;
      display: block;
      }
    
    .topnav.responsive {position: relative;
      }
  
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      }
    
    .topnav.responsive a{
      float: none;
      display: block;
      text-align: left;
      }    
    
    .column {
      width: 100%;
      }
    
    .infographic{
         width: 80%;
        margin: auto;
   }  
    .card {
        width: 90%;
    }

    .textbox{
        width: 90%;
    }
  }

  
/* For tablets:*/
    @media only screen and (max-width: 768px) and (min-width: 415px){
    .card {
        width: 80%;
    }

    .textbox{
        width: 80%;
    }
        
 .infographic{
         width: 80%;
        margin: auto;
   }  
     }

/* For bigger desktops: */
@media only screen and (min-width: 2000px) {
    
   
    .card{
        width: 55%;
        }

    .textbox{
        width: 55%;
        }
    
    .infographic{
        width: 45%;
        margin: auto;
    }
    .bigscreen{
        max-width: 55% !important;
        margin: auto;
    }
       
    }
       
   }